{% extends 'base.html.twig' %}

{% block title %}Découvrez nos Artistes{% endblock %}

{% block body %}
<main class="p-5 mb-4 border-bottom border-2">
    <div class="container my-5 ">
        <div class="text-center mb-4">
            <h2 class=" mb-4 display-5">Notre communauté</h2>
            <h1 class="mt-4 display-3">Découvrez nos Artistes</h1>
        </div>
        <div class="row mb-4">
            <div class="col-lg-4 mb-3">
                <div class="card">
                    <img src={{ asset('/images/avatar/avatar-chanteur-w.webp')}} 
                    alt="chanteur blanc avec des lunettes de soleil" class="card-img-top">
                    <div class="card-body text-center home-title">
                    <a href={{ path('chanteur') }} class="text-dark text-decoration-none">
                        <h5 class="card-title">Chanteurs</h5>
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card">
                    <img src={{ asset('/images/avatar/avatar-musicienne-w.webp')}} class="card-img-top" 
                    alt="musicienne blanche avec plusieurs instruments de musique en auréole">
                    <div class="card-body text-center home-title">
                        <a href={{ path('musician') }} class="text-dark text-decoration-none">
                        <h5 class="card-title">Musiciens</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card">
                    <img src={{ asset('images/avatar/avatar-groupe.webp') }} class="card-img-top" 
                    alt="groupe de musicien noirs et blanc avec divers instruments de musique entre leurs mains">
                    <div class="card-body text-center home-title">
                        <a href={{ path('groupe') }} class="text-dark text-decoration-none">
                        <h5 class="card-title">Groupes de Musique</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mb-4">
            <h2>Les styles les plus populaires</h2>
        </div>
        <div class="row mb-4">
            {% set styles = [
                {'name': 'Jazz', 'image': asset('/images/avatar/jazz.webp') },
                {'name': 'Rock', 'image': asset('/images/avatar/rock.webp')},
                {'name': 'Latino', 'image': asset('/images/avatar/tango.webp')},
                {'name': 'Classique', 'image': asset('/images/avatar/classique.webp')},
                {'name': 'Soirée privée', 'image': asset('/images/avatar/soiree-privee.webp')},
                {'name': 'Gospel', 'image': asset('/images/avatar/gospel.webp')},
                {'name': 'Pianiste', 'image': asset('/images/avatar/pianiste.webp')},
                {'name': 'Fanfare', 'image': asset('/images/avatar/fanfare.webp')},
                {'name': 'Guitariste', 'image': asset('/images/avatar/guitariste.webp')},
                {'name': 'Musique-ambiance', 'image': asset('/images/avatar/musique-ambiance.webp')},
                {'name': 'Percussions', 'image': asset('/images/avatar/percussion.webp')},
                {'name': 'Bal musette', 'image': asset('/images/avatar/musette.webp')}
            ] %}

            {% for style in styles %}
                <div class="col-lg-3 col-md-4 col-sm-4 mb-4">
                    <div class="card">
                        <img src="{{ style.image }}" class="card-img-top" alt="{{ style.name }}">
                        <div class="card-body text-center">
                            <h5 class="card-title ">{{ style.name }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="{{ path('app_artist_index') }}" class="btn btn-danger">Découvrez nos artistes</a>
        </div>
    </div>
</main>
{% endblock %}

