{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container vh-100 d-flex align-items-center">

    <div class="form-signing w-100 m-auto">

        {% if app.user %}
            <div class="alert alert-info text-center col-6 m-auto" role="alert">
                <h2>
                    Vous êtes déjà connecté en tant que {{ app.user.userIdentifier }}
                </h2>
                <div class="text-center mt-5">
                    <a href="/" class="btn btn-dark">Retour à l'accueil</a>
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Se déconnecter</a>
                </div>
            </div>
        {% else %}
        <h1 class="h3 mb-3 fw-normal text-center">Veuillez vous connecter</h1>

        <form method="post" class="col-4 m-auto">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-group mb-2">
                <label for="inputEmail">Email</label>
                <input type="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="form-group mb-2">
                <label for="inputPassword">Mot de passe</label>
                <input type="Password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html #}
                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Se souvenir de moi</label>
                </div>

            <button class="btn btn-custom w-100 py-2" type="submit">Connexion</button>
        </form>

        <div class="text-center mt-3">
                <p>Mot de passe oublié ? 
                <a href={{ path('app_forgot_password_request') }} class="text-decoration-none link-secondary">Réinitialiser votre mot de passe</a></p>
            </div>
        <div class="text-center mt-3"> <!-- TODO: add route to sign in -->
            <p>Vous n'avez pas encore de compte ? <a href={{ path('app_register') }} class="text-decoration-none link-secondary">Créer un compte</a></p>
        </div>
        {% endif %}
</div>
{% endblock %}