{% extends 'base.html.twig' %}

{% block title %}Création d'un compte
{% endblock %}

{% block body %}

	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger col-4 m-auto mb-5" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="container vh-100 d-flex align-items-center">
		<div class="form-signing w-100 m-auto">

			{% if app.user %}
				<div class="alert alert-info text-center" role="alert">
					<h2>
						Vous êtes déjà connecté.
					</h2>
					<a href="/" class="btn btn-dark">Retour à l'accueil</a>
				</div>
			{% else %}
				{% if error is defined %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				{% endif %}

			<div class="d-flex justify-content-center align-items-center">
					<div class="text-left mb-5 p-4 shadow border-info rounded-3 col-md-5">
						<h2 class="h4 mb-3 fw-normal text-center">
						Vous pouvez vous inscrire en tant que
						</h2>
						<p><span class="fw-bold text-capitalize">▷ artiste</span>, si vous souhaitez proposer des services de musique </br>
						<span class="fw-bold text-capitalize">▷ producteur</span>, si vous recherchez des artistes à produire </br>
						<span class="fw-bold text-capitalize">▷ particulier</span>, si vous recherchez des artistes pour un événement</p>
					</div>
			</div>
				<h1 class="h3 mt-5 mb-3 fw-normal text-center">Créer votre compte</h1>
				{% if error is defined %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				{% endif %}

				{{ form_errors(registrationForm) }}
				{{ form_start(registrationForm, {
					attr: {
						class: 'col-4 m-auto login-form'
					}
				}) }}
				<div class="form-floating mb-2">
					{{ form_widget(registrationForm.roles, 
					{'attr': {'class': 'form-control'}}) }}
					<label for="floatingInput">Votre statut *</label>
					<div class="form-error">{{ form_errors(registrationForm.roles) }}</div>
				</div>
				<div class="form-floating mb-2">
					{{ form_widget(registrationForm.email,
					{'attr': {'class': 'form-control'}}) }}
					<label for="floatingInput">Votre email *</label>
					<div class="form-error">{{ form_errors(registrationForm.email) }}</div>
				</div>
				<div class="form-floating mb-2">
					{{ form_widget(registrationForm.plainPassword,
					{'attr': {'class': 'form-control'}}) }}
					<label for="floatingInput">Votre mot de passe *</label>
					<div class="form-error">{{ form_errors(registrationForm.plainPassword) }}</div>
				</div>
				<div class="form-floating mb-2" hidden="true">
					{{ form_widget(registrationForm.created_at ) }}
					<div class="form-error">{{ form_errors(registrationForm.created_at) }}</div>
				</div>
				
				<div
					class="mb-3 form-check">
					<!-- TODO: add route to terms and conditions -->
					{{ form_widget(registrationForm.consent, {
                            attr: {
                                class: 'form-check-input',
                                id: 'floatingCheckbox',
                            }
                        }) }}
					<label class="form-check-label" for="floatingCheckbox">Je donne mon consentement aux
						<a href="#" class="text-decoration-none link-secondary">politiques de confidentialités</a>
					</label>
					<div class="form-error">{{ form_errors(registrationForm.consent) }}</div>
				</div>
				<!-- END OF TERMS AND CONDITIONS CHECKBOX -->

				<button class="btn btn-custom w-100 py-2" type="submit">Créer un compte</button>
				{{ form_end(registrationForm) }}

				<div class="text-center mt-3 mb-5">
					<!-- TODO: add route to sign in -->
					<p>Vous avez déjà un compte ?
						<a href={{ path('app_login') }} class="text-decoration-none link-secondary">Se connecter</a>
					</p>
				</div>
			{% endif %}
		</div>
	</div>

{% endblock %}

