<div class="container">
    <div class="row pb-5 my-5 d-flex justify-content-center">
        {% if is_granted('ROLE_USER') %}
            <h4 class="text-center my-4">
            Formulaire d'avis
            </h4>
            {{ form_errors(formReview) }}
            {{ form_start(formReview, {attr: {class: 'col-4 m-auto login-form'}}) }}
                <div class="form-floating mb-2">
                    {{ form_widget(formReview.title,
                    {'attr': {'class': 'form-control'}}) }}
                    <label for="floatingInput">Titre</label>
                    <div class="form-error">{{ form_errors(formReview.title) }}</div>
                </div>
                <div class="form-floating mb-2">
                    {{ form_widget(formReview.comment,
                    {'attr': {'class': 'form-control'}, 'require': false}) }}
                    <label for="floatingInput">Commentaire</label>
                    <div class="form-error">{{ form_errors(formReview.comment) }}</div>
                </div>
                <div class="form-floating mb-2">
                    {{ form_widget(formReview.rating,
                    {'attr': {'class': 'form-control'}, 'require': false}) }}
                    <label for="floatingInput">Note entre 1 et 5</label>
                    <div class="form-error">{{ form_errors(formReview.rating) }}</div>
                </div>
                <button type="submit" class="btn btn-custom-dark my-3">Sauvegardez votre avis</button>
            {{ form_end(formReview) }}
    </div>
        {% else %}
            <p>Vous devez être connecté pour déposer un avis.</p>
        {% endif %}
</div>
