{% extends 'base.html.twig' %}

{% block title %}Donnez votre avis {% endblock %}

{% block body %}
<main class="p-5 mb-4 border-bottom border-2">
    <div class="container">
        <div class="row text-center py-5">
            <h1>Mon avis</h1>
        </div>
        <div class="d-flex gap-3 overflow-x-scroll justify-content-center">
                    <div class="col-md-4 col-sm-12">
                        <div class="card shadow-none text-center h-100">
                            <h3 class="fs-4">
                            {{ review.artist.nickname }}
                            </h3>
                            <p class="">
                            {{ review.artist.city }} - {{ review.artist.country }}
                            </p>
                            <div class="card-body p-2">
                                <h2 class="fs-3">
                                    {{ review.title }}
                                </h2>
                                <p class="fs-3">
                                    {{ review.comment }}
                                </p>
                                <div class="rating">
                                    {% for i in 1..review.rating %}
                                        <i class="bi bi-star-fill text-custom-tertiary"></i>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="card-footer p-2 border-0">
                                <a class="text-decoration-none" href="{{ path('edit_review', {'id': review.id}) }}">
                                    <button class="btn btn-sm btn-custom-view rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top">
                                        <i class="bi bi-eye"></i>
                                        modifier
                                    </button>
                                </a>
                                <a class="" href="{{ path('remove_review', { 'id': review.id }) }}">
                                    <button class="btn btn-sm btn-custom-suppr rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top">
                                        <i class="bi bi-trash"></i>
                                        supprimer
                                    </button>
                                </a>
                                </a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</main>
{% endblock %}
