{% extends 'base.html.twig' %}

{% block title %}Modifier le profil artiste{% endblock %}

{% block body %}
    <h1>Modifier le profil artiste</h1>

<div class="container">
<div class="">

    {{ include('artist/_form.html.twig', {'button_label': 'Modifiez'}) }}

    <a href="{{ path('app_artist_index') }}" class="btn btn-primary">Retour à la liste des artistes</a>

    {{ include('artist/_delete.html.twig') }}

<a href="{{ path('account') }}" class="btn btn-warning">Retour à votre compte</a>



</div>
<div>


    {# {{ include('artist/_delete_form.html.twig') }} #}
{% endblock %}
