{% extends 'base.html.twig' %}

{% block title %}Tous les artistes
{% endblock %}

{% block body %}
<main class="p-5 mb-4 border-bottom border-2">
	<div class="container">
		<div class="row text-center py-5 mx-5">
            <h1 class="m-5">Tous les artistes</h1>
		
			<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab veniam necessitatibus deserunt rem! Saepe sit aliquid ex! Aliquam, placeat dignissimos error et consectetur exercitationem autem, quae assumenda, ipsam pariatur aperiam!
			</p>
        </div>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for artist in artists %}
				<div class="col">
					<div class="card h-100 shadow p-3 mb-5 bg-body-tertiary rounded">
							<img class="card-img-top" src={{ asset('images/artist.webp') }} {{artist.image}} alt="{{ artist.nickname }}">
							<div class="card-body ">
							<div class=" d-flex justify-content-end">
								{# Check favorite #}
								{% if is_granted('IS_AUTHENTICATED_FULLY') %}	
									{% if artist.isFavorite(app.user) %}
										<a class="text-end" href={{ path('remove_favorite', { artist: artist.id }) }}>
											<i class="bi bi-heart-fill text-danger"></i>
										</a>
									{% else %}
										<a class="text-end" href={{ path('add_favorite', { artist: artist.id }) }}>
											<i class="bi bi-heart text-danger"></i>
										</a>
									{% endif %}
								{% else %}
										<a class="text-end" href={{ path('add_favorite', { artist: artist.id }) }}>
											<i class="bi bi-heart text-white"></i>
										</a>
								{% endif %}
							</div>
							<h5 class="card-title">{{ artist.nickname }}</h5>
							{% if artist.bio is defined and artist.bio|length > 100 %}
								<p class="card-text">{{ artist.bio|slice(0, 100) }}...</p>
							{% elseif artist.bio is defined %}
								<p class="card-text">{{ artist.bio }}</p>
							{% endif %}
							<h6 class="card-text">{{ artist.city }}</h6>
							<a href="{{ path('app_artist_show', { id: artist.id }) }}" class="btn btn-primary">En savoir plus</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	{# pagination #}
	<div class="container d-flex my-5 justify-content-center">
		{{ knp_pagination_render(artists) }}
	</div>
    </main>
{% endblock %}
