<header class="d-flex justify-content-between align-items-center p-3 sticky-top bg-dark shadow">
	<a href={{ path('app_home')}}>
		<img src={{ asset('/images/logo/logo-dore.png') }} alt="logo Coryphée" width="60">
	</a>
	<div class="d-flex gap-3 align-items-center">
			<a href={{ path('app_home') }} class="text-white text-decoration-none">Accueil</a>
			<a href={{ path('app_artist_index') }} class="text-white text-decoration-none">Artistes</a>
			<a href={{ path('app_artist_index') }} class="text-white text-decoration-none">Contact</a>

		{% if is_granted('ROLE_USER') %}
			<div class="nav-item dropdown bg-body-tertiary py-2 px-3 rounded-pill">
				<a class="nav-link dropdown-toggle" href="#" role="button" 
				data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" href={{ path('account') }}>Mon compte</a>
					</li>
					<li>
						<a class="dropdown-item" href={{ path('favorites') }}>Mes favoris</a>
					</li>
					<li>
						<a class="dropdown-item" href={{ path('reviews') }}>Mes avis</a>
					</li>
					{% if is_granted('ROLE_MUSICIAN') %}
					<li>
						<a class="dropdown-item" href={{ path('app_artist_solo') }}>Mes artistes</a>
					</li>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<li>
							<a class="dropdown-item" href={{ path('admin') }}>Admin dashboard</a>
						</li>
					{% endif %}
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href={{ path('app_logout') }}>Logout</a>
					</li>
				</ul>
			</div>
		{% else %}
			<a href={{ path('app_register') }} class="text-white text-decoration-none">S'enregistrer</a>
			<a href={{ path('app_login') }} class="btn btn-light rounded-pill">Se connecter</a>
		{% endif %}
	</div>
</header>