{% extends 'base.html.twig' %}

{% block title %}Vos artistes favoris !
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center py-5">
            <h1>Mes favoris</h1>
        </div>
        {% if favorites|length > 0 %}
            {{ dump(favorites) }}
            {% for favorite in favorites %}
                TODO: Create a card favorite component
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ favorite.name }}</h5>
                        <p class="card-text">{{ favorite.description }}</p>
                        <a href="{{ path('favorite_details', { id: favorite.id }) }}" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <div class="text-center">
                <p>Vous n'avez pas encore d'artiste favoris.</p>
                <a href={{ path('app_room') }} class="btn btn-custom rounded-pill w-auto">Add a favorite</a>
            </div>
        {% endif %}
    </div>
{% endblock %}