{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
	<div class="container">
		<div class="row pb-5">
			<div class="col-lg-8 vstack gap-4 mt-5">
				{% if app.user %}
				<div class="card">
					<div class="card-body py-3">
						<div class="d-sm-flex align-favorites-start text-center text-sm-start">
							<div>
								<div class="avatar avatar-xxl profile-n-3 mb-3">
									<img class="avatar-img rounded-circle border border-white border-3" src="/uploads/users/{{ app.user.image }}" width="150">
								</div>
							</div>
							<div class="ms-sm-4 mt-sm-3">
								<h1 class="mb-0 h5">
									{{ app.user.name }}
									{{ app.user.corporateName }}
									{% if app.user.isVerified %}
										<i class="bi bi-patch-check-fill text-primary"></i>
									{% endif %}
								</h1>
								<p>{{ app.user.email }}</p>
							</div>
							<div class="d-flex mt-3 justify-content-center ms-sm-auto">
								<button class="btn btn me-2" data-bs-toggle="modal" data-bs-target="#updateModal" type="button">
									<i class="bi bi-pencil-fill pe-1"></i>
									Mettre à jour
								</button>
							</div>
						</div>
						<ul class="list-inline mb-0 text-center text-sm-start mt-3 mt-sm-0">
							<li class="list-inline-favorite">
								<i class="bi bi-phone"></i>
								{{ app.user.phone }}
							</li>
							<li class="list-inline-favorite">
								<i class="bi bi-geo-alt me-1"></i>
								{{ app.user.address }}
								{{ app.user.additionalAddress }}
								{{ app.user.city }}
								{{ app.user.zip }}
								{{ app.user.country }}
							</li>
						</ul>
					</div>
				</div>
					{# Favorites #}
				<div class="row">
					<div class="mb-4">
						<div class="card">
							<div class="card-header d-sm-flex justify-content-between align-favorites-center border-0">
								<h5 class="card-title">
									Vos favoris
									<span class="badge bg-danger bg-opacity-10 text-danger">
										{{ app.user.favorites|length }}
									</span>
								</h5>
								<a class="btn btn-custom btn-sm" href="{{ path('favorites') }}">
									En voir plus
								</a>
							</div>
							<div>
								<div class="card-body position-relative pt-3">
									<div class="d-flex gap-3 overflow-x-scroll">
									<!-- Verifie si l'utilisateur a des favoris -->
										{% if app.user.favorites is defined and app.user.favorites|length > 0 %}
											{% for favorite in app.user.favorites %}
												<div class="col-md-4 col-sm-12">
													<div class="card shadow-none text-center h-100">
														<div class="card-body p-2">
															<!-- Boucle sur les artistes associés aux favorite -->
															{% for artist in favorite.artists %}
															<div class="card-img p-2">
																<img src="/uploads/artists/{{ artist.image }}" class="img-fluid">
															</div>
															<div class="card-text">
																<h1 class="fs-3">
																{{ artist.nickname }}<br>  {# Affiche le nom de chaque artiste associé à l'favorite #}
																</h1>
															</div>	
															{% endfor %}
														</div>
														<div class="card-footer p-2 border-0">
															<a class="text-decoration-none" href="{{ path('app_artist_show', { 'id': favorite.artists[0].id }) }}">
																<button class="btn btn-sm btn-custom-view rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top">
																	<i class="bi bi-eye"></i>
																	Voir
																</button>
															</a>
															<a class="" href="{{ path('remove_favorite', { 'artist': favorite.id }) }}">
																<button class="btn btn-sm btn-custom-suppr rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top">
																		<i class="bi bi-trash"></i>
																	supprimer
																</button>
															</a>
														</div>
													</div>
												</div>
											{% endfor %}
										{% else %}
											<p>Vous n'avez pas déposé d'avis.</p>
										{% endif %}
									</div>
								</div>
							</div>
							<!-- Card body END -->
						</div>
					</div>
				</div>
					{# reviews #}
				<div class="row">
					<div class="mb-5">
						<div class="card">
							<div class="card-header d-sm-flex justify-content-between align-favorites-center border-0">
								<h5 class="card-title">
									Vos Avis
									<span class="badge bg-danger bg-opacity-10 text-danger">
										{{ app.user.reviews|length }}
									</span>
								</h5>
							</div>
							<div>
								<div class="card-body position-relative pt-3">
									<div class="d-flex gap-3 overflow-x-scroll">
									<!-- Verifie si l'utilisateur a des avis -->
										{% if app.user.reviews is defined %}
											{% for review in app.user.reviews %}
												<div class="col-md-4 col-sm-12">
													<div class="card shadow-none text-center h-100">
														<div class="card-body p-2">
															<!-- Boucle sur les artistes associés aux avis -->
															<div class="card-img p-2">
																<img src="/uploads/artists/{{ review.artist.image }}" class="img-fluid">
															</div>
															<div class="card-text">
																<h1 class="fs-3">
																{{ review.artist.nickname }}<br>  {# Affiche le nom de chaque artiste associé à l'avis #}
																</h1>
															</div>	
														</div>
														<div class="card-footer p-2 border-0">
															<a class="text-decoration-none" href="{{ path('review_show', { 'id': review.id }) }}">
																<button class="btn btn-sm btn-custom-view rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top">
																	<i class="bi bi-eye"></i>
																	Voir
																</button>
															</a>
															<a class="" href="{{ path('remove_review', { 'id': review.id }) }}">
																<button class="btn btn-sm btn-custom-suppr rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top">
																		<i class="bi bi-trash"></i>
																	supprimer
																</button>
															</a>
														</div>
													</div>
												</div>
											{% endfor %}
										{% else %}
											<p>Vous n'avez pas d'avis.</p>
										{% endif %}
									</div>
								</div>
							</div>
							<!-- Card body END -->
						</div>
					</div>
				</div>
					{# Artist #}
					{% if is_granted('ROLE_MUSICIAN') %}
					<div class="row">
						<div class="mb-4">
							<div class="card">
								<div class="card-header d-sm-flex justify-content-between align-artists-center border-0">
									<h5 class="card-title">
										Vos artistes
										<span class="badge bg-danger bg-opacity-10 text-danger">
											{{ app.user.artists | length }}
										</span>
									</h5>
									<a class="btn btn-custom-view btn-sm" href="{{ path('app_artist_solo') }}">
										Voir vos artistes
									</a>
									<a class="btn btn-custom btn-sm" href="{{ path('app_artist_new') }}">
										Créer une fiche artiste
									</a>
								</div>
									<div class="card-body position-relative pt-3">
										<div class="d-flex gap-3 overflow-x-scroll">
											{% if app.user.artists is defined %}
												{% for artist in app.user.artists %}
												<div class="col-md-4 col-sm-12">
													<div class="card shadow-none text-center h-100">
														<div class="card-img p-2">
															<img src="/uploads/artists/{{ artist.image }}" class="img-fluid">
														</div>
														<div class="card-text">
															<h1 class="fs-3">
																{{ artist.nickname }}
															</h1>
														</div>
														<div class="card-footer p-2 border-0">
															<a class="text-decoration-none" href="{{ path('app_artist_show', { 'id': artist.id }) }}">
																<button class="btn btn-sm btn-custom-view rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top">
																	<i class="bi bi-eye"></i>
																	Voir
																</button>
															</a>
															<a href="{{ path('app_artist_edit', {'id': artist.id}) }}">
															<button class="btn btn-sm btn-custom-edit rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top">
																<i class="bi bi-pencil"></i>
																Editer
															</button>
															</a>
														</div>
													</div>
												</div>
												{% endfor %}
											{% endif %}
										</div>
									</div>								
									<!-- Card body END -->
							</div>
						</div>
					</div>
					{% endif %}
				</div>
				{% else %}
					<p>Vous devez être connecté pour voir ces informations.</p>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="updateModalLabel">Modifier vos informations</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{{ form_start(form) }}
					{{ form_errors(form) }}
						{{ form_row(form.name) }}
						{{ form_row(form.corporateName, {'required': false}) }}
						{{ form_row(form.siret, {'required': false}) }}
						{{ form_row(form.phone) }}
						{{ form_row(form.address, {'required': false}) }}
						{{ form_row(form.additionalAddress, {'required': false}) }}
						{{ form_row(form.city) }}
						{{ form_row(form.zip) }}
						{{ form_row(form.country) }}
						{{ form_row(form.image, {'required': false}) }}
						<button type="submit" class="btn btn-dark">Sauvegardez les modifications</button>
					{{ form_end(form) }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
